<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<footer id="cs-footer-1294">
    <div class="cs-container">       
        <!-- Subscribe Form -->
        <div id="cta-1294">
            <div class="cs-content">
                <h2 class="cs-title">Ready to transform Your landscape? Call us today to get your free estimate!</h2>
                <a href="" class="cs-button-solid">Get Free Estimate</a>
            </div>
            <!--Background Image-->
            <picture class="cs-background">
                <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/cta-waves.svg">
                <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/cta-waves-t.svg">
                <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/cta-waves-t.svg" alt="waves" width="1280" height="278" aria-hidden="true">
            </picture>
        </div>                
        <div class="cs-wrapper">
            <!-- Logo Group -->
            <div class="cs-logo-group">
                <a aria-label="go back to home" class="cs-logo" href="">
                    <img class="cs-logo-img" aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/loza-bubble-logo.png" alt="logo" width="240" height="32">
                </a>
                <p class="cs-text">
                    Your trusted partner for professional tree services.
                </p>
                <a href="mailto:info@mail.com" class="cs-link">
                    <img class="cs-link-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/thick-mail.svg" alt="icon" width="24" height="24">
                    help@loza-trees.com
                </a>
            </div>
            <!-- Links -->
            <ul class="cs-nav">
                <li class="cs-nav-li">
                    <span class="cs-header">Services</span>
                </li>
                <li class="cs-nav-li">
                    <a class="cs-nav-link" href="">Land Clearing</a>
                </li>
                <li class="cs-nav-li">
                    <a class="cs-nav-link" href="">Tree Removal</a>
                </li>
                <li class="cs-nav-li">
                    <a class="cs-nav-link" href="">Stump Grinding</a>
                </li>
                <li class="cs-nav-li">
                    <a class="cs-nav-link" href="">Pruning</a>
                </li>
            </ul>
            <ul class="cs-nav">
                <li class="cs-nav-li">
                    <span class="cs-header">About</span>
                </li>
                <li class="cs-nav-li">
                    <a class="cs-nav-link" href="">Our Story</a>
                </li>
                <li class="cs-nav-li">
                    <a class="cs-nav-link" href="">Our Work</a>
                </li>
                <li class="cs-nav-li">
                    <a class="cs-nav-link" href="">Our Team</a>
                </li>
                <li class="cs-nav-li">
                    <a class="cs-nav-link" href="">Join Us</a>
                </li>
            </ul>
            <ul class="cs-nav">
                <li class="cs-nav-li">
                    <span class="cs-header">Contact</span>
                </li>
                <li class="cs-nav-li">
                    <a class="cs-nav-link" href="">Facebook</a>
                </li>
                <li class="cs-nav-li">
                    <a class="cs-nav-link" href="">Instagram</a>
                </li>
                <li class="cs-nav-li">
                    <a class="cs-nav-link" href="">TikTok</a>
                </li>
            </ul>
            <ul class="cs-nav">
                <li class="cs-nav-li">
                    <span class="cs-header">Help</span>
                </li>
                <li class="cs-nav-li">
                    <a class="cs-nav-link" href="">FAQ</a>
                </li>
                <li class="cs-nav-li">
                    <a class="cs-nav-link" href="">Contact us</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="cs-bottom">
        <span class="cs-copyright">Copyright© 2025. 
            <a class="cs-copyright-link" href="">Loza Tree Services.</a>
            All Right Reserved.
        </span>
        <span class="cs-copyright">Designed • Developed • Delivered by  
            <a href=""><strong><em>iDesign</em></strong></a>
        </span>
        <a href="" class="cs-copyright-link">Terms of Service</a>
        <a href="" class="cs-copyright-link">Privacy Policy</a>
    </div>
    <!--Floating Cirlces-->
    <div class="cs-floater-wrapper">
        <div class="cs-floater" aria-hidden="true"></div>
    </div>
</footer>
                                